Install Boto3

In [1]:
#install boto3
!pip install boto3

Collecting boto3
  Downloading boto3-1.19.5-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 37.1 MB/s eta 0:00:01
Collecting s3transfer<0.6.0,>=0.5.0
  Using cached s3transfer-0.5.0-py3-none-any.whl (79 kB)
Collecting jmespath<1.0.0,>=0.7.1
  Using cached jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting botocore<1.23.0,>=1.22.5
  Using cached botocore-1.22.5-py3-none-any.whl (8.1 MB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in ./anaconda3/lib/python3.7/site-packages (from botocore<1.23.0,>=1.22.5->boto3) (1.25.8)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in ./anaconda3/lib/python3.7/site-packages (from botocore<1.23.0,>=1.22.5->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.23.0,>=1.22.5->boto3) (1.14.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.19.5 botocore-1.22.5 jmespath-0.10.0 s3transfer-0.5.0

Import Libraries

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import boto3

Load Non-event dataset

In [4]:
!aws s3 cp s3://capstone-sanjanameghna/final_submission/non_events_init.csv .

download: s3://capstone-sanjanameghna/final_submission/non_events_init.csv to ./non_events_init.csv

In [5]:
#read non_events dataset into pandas dataframe
dfnev = pd.read_csv('non_events_init.csv', encoding='utf-8')

In [6]:
dfnev.head(5)

             device_id phone_brand device_model gender  age group_train
0  1845358998536310000       meitu            2      F   25      F25-32
1  3126957642374570000       meitu            2      M   27      M25-32
2  6005031767544890000       meitu            2      F   30      F25-32
3  7862170554164260000       meitu            2      F   22       F0-24
4 -1463646610464190000       meitu            2      F   24       F0-24

Feature Engineering Non-event dataset
4.	You may also think of grouping the existing categories to create a new supercategory that will establish a significance in predicting the outcome variable

In [7]:
#function to calculage the age_group regardless of gender
def getAgeGroup(row):
    if (row['group_train'] == 'M0-24') or (row['group_train'] == 'F0-24') :
        return '0-24'
    elif (row['group_train'] == 'M25-32') or (row['group_train'] == 'F25-32') :
        return '25-32' 
    else:
        return '32+'

In [8]:
#create supercategory for age group
dfnev['age_group'] = dfnev.apply(getAgeGroup, axis=1)

In [9]:
dfnev.head(5)

,device_id,phone_brand,device_model,gender,age,group_train,age_group
0,1845358998536310000,meitu,2,F,25,F25-32,25-32
1,3126957642374570000,meitu,2,M,27,M25-32,25-32
2,6005031767544890000,meitu,2,F,30,F25-32,25-32
3,7862170554164260000,meitu,2,F,22,F0-24,0-24
4,-1463646610464190000,meitu,2,F,24,F0-24,0-24

Load event Dataset

In [10]:
!aws s3 cp s3://capstone-sanjanameghna/final_submission/events_init.csv .

download: s3://capstone-sanjanameghna/final_submission/events_init.csv to ./events_init.csv

In [11]:
#read events dataset into pandas dataframe
dfev = pd.read_csv('events_init.csv', encoding='utf-8')

In [12]:
dfev.head(5)

,device_id,event_id,event_time,latitude,longitude,gender,age,group_train
0,4676982795249940000,2958924,2016-05-01 22:03:46,113.24,22.85,M,52,M32+
1,4782582047729160000,2958931,2016-05-01 22:24:09,114.47,38.03,M,36,M32+
2,2181284491650730000,2958933,2016-05-01 22:24:44,125.66,43.02,M,28,M25-32
3,4221762657972680000,2958935,2016-05-01 22:40:47,115.19,24.07,F,19,F0-24
4,-6242501228649110000,2958939,2016-05-01 21:59:40,111.21,27.85,M,20,M0-24

Feature Engineering event dataset
4.	You may also think of grouping the existing categories to create a new supercategory that will establish a significance in predicting the outcome variable

In [13]:
#create supercategory for age group
dfev['age_group'] = dfev.apply(getAgeGroup, axis=1)

In [14]:
dfev.head(5)

,device_id,event_id,event_time,latitude,longitude,gender,age,group_train,age_group
0,4676982795249940000,2958924,2016-05-01 22:03:46,113.24,22.85,M,52,M32+,32+
1,4782582047729160000,2958931,2016-05-01 22:24:09,114.47,38.03,M,36,M32+,32+
2,2181284491650730000,2958933,2016-05-01 22:24:44,125.66,43.02,M,28,M25-32,25-32
3,4221762657972680000,2958935,2016-05-01 22:40:47,115.19,24.07,F,19,F0-24,0-24
4,-6242501228649110000,2958939,2016-05-01 21:59:40,111.21,27.85,M,20,M0-24,0-24

In [15]:
#save non-event dataframe to csv
dfnev.to_csv(r'non_events_init2.csv', index = False)

In [16]:
#save event dataframe to csv
dfev.to_csv(r'events_init2.csv', index = False)

In [17]:
!aws s3 cp non_events_init2.csv s3://capstone-sanjanameghna/final_submission/non_events_init2.csv

upload: ./non_events_init2.csv to s3://capstone-sanjanameghna/final_submission/non_events_init2.csv

In [18]:
!aws s3 cp events_init2.csv s3://capstone-sanjanameghna/final_submission/events_init2.csv

upload: ./events_init2.csv to s3://capstone-sanjanameghna/final_submission/events_init2.csv