#### Reduce app data

In [5]:
import pandas as pd

In [6]:
dfapp = pd.read_csv('appdata_init.csv', encoding='utf-8')
dfapp.head(5)

,event_id,app_id,is_installed,is_active,label_id,category
0,2960967,8557198901083791098,1.0,1.0,548.0,Industry tag
1,2960967,8557198901083791098,1.0,1.0,204.0,sports and gym
2,2960967,8557198901083791098,1.0,1.0,172.0,IM
3,2960967,8557198901083791098,1.0,1.0,223.0,convenience services
4,2960967,8557198901083791098,1.0,1.0,206.0,Medical

In [7]:
dfapp.shape

(55614759, 6)

In [8]:
dfapp.head(5)

,event_id,app_id,is_installed,is_active,label_id,category
0,2960967,8557198901083791098,1.0,1.0,548.0,Industry tag
1,2960967,8557198901083791098,1.0,1.0,204.0,sports and gym
2,2960967,8557198901083791098,1.0,1.0,172.0,IM
3,2960967,8557198901083791098,1.0,1.0,223.0,convenience services
4,2960967,8557198901083791098,1.0,1.0,206.0,Medical

In [9]:
#filter only installed & active app records
dfapp = dfapp.loc[((dfapp['is_installed'] == 1) & (dfapp['is_active'] == 1))]
dfapp.shape

(18916656, 6)

In [10]:
#save reduced appdata dataframe to csv
dfapp.to_csv(r'appdata_init2.csv', index = False)

In [11]:
#upload appdata_init2 csv to S3
!aws s3 cp appdata_init2.csv s3://capstone-sanjanameghna/final_submission/appdata_init2.csv

upload: ./appdata_init2.csv to s3://capstone-sanjanameghna/final_submission/appdata_init2.csv